.container {
  padding: 20px;
  background: #ddd;
  font-family:sans-serif;
  color:#666;
}

.img1 {  
  display: block;
  margin: auto;
  width: 100%;  
}

.img2 {  
  display: block;
  margin: auto;
  width: 25%;  
}


h4 {
text-align:center;
}